window {
    margin: 10px;
    border: 2px solid #333333;
    background-color: #212121;
    border-radius: 12px;
    font-family: "Inter", "JetBrainsMono Nerd Font";
    font-size: 13px;
}

#input {
    margin: 10px;
    border: 1px solid #444444;
    border-radius: 8px;
    padding: 8px;
    color: #ffffff;
    background-color: #2c2c2c;
}

#inner-box {
    margin: 5px;
    color: #ffffff;
}

#entry {
    padding: 8px;
    border-radius: 6px;
}

#entry:selected {
    background-color: #3f51b5; /* Professional blue accent */
    outline: none;
}

#text {
    margin: 2px;
}
