{{- $hostname := .chezmoi.hostname -}}
{{- $is_my_desktop := eq $hostname "my-desktop" -}}
{{- $is_my_laptop := eq $hostname "my-laptop" -}}

{{- $chassis := "" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $chassis = output "hostnamectl" "chassis" | trim -}}
{{- end -}}

{{- $is_laptop := or (eq $chassis "laptop") $is_my_laptop -}}

sourceDir = "{{ .chezmoi.homeDir }}/Dropbox/dotfiles"

[data]
    hostname = {{ $hostname | quote }}
    is_laptop = {{ $is_laptop }}
    is_my_desktop = {{ $is_my_desktop }}
    is_my_laptop = {{ $is_my_laptop }}
