--ozone-platform-hint=auto
--enable-features=AcceleratedVideoDecodeLinuxGL,AcceleratedVideoDecoder,VaapiVideoDecoder,WebRTCPipeWireCapturer,CanvasOopRasterization
--disable-features=Vulkan
--enable-gpu-rasterization
--enable-zero-copy
--enable-smooth-scrolling
--ignore-gpu-blocklist
{{- if .is_desktop }}
--use-gl=angle
--use-angle=gl
{{- end }}

