# Set scaling factor
{{- if eq .chezmoi.hostname "my-desktop" }}
--force-device-scale-factor=1.0
{{- else if eq .chezmoi.hostname "my-laptop" }}
--force-device-scale-factor=1.5
{{- end }}

# Enable Wayland (Ozone) platform integration
--enable-features=UseOzonePlatform
--ozone-platform=wayland

# Enable other Wayland specific features if needed for stability/fixes
--enable-features=WaylandWindowDecorations
--enable-features=WaylandLinuxDrmSyncobj

# These flags force the browser to use graphics hardware for rendering, which 
# dramatically improves performance, especially for video playback, complex 
# web pages, and gaming within the browser.
--ignore-gpu-blocklist
--enable-features=VulkanFromANGLE,UseVulkanForWebGL,EnableVulkan
